@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/*-------------------------------------- Font*/

body {
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

.nav-color {
    
    color: #008ae7;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.title-color {
    color: #008ae7;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.section-header{
    color: #008ae7;
    font-size: 20px;
    margin-top: 10px;
}

div p {
    color: #FDFDFD;
    font-size: 14px;
}

.uppercase {
    text-transform: uppercase;
}

.footer-sizing {
    font-size: 16px;
    margin: 0px
}

.track {
    color: #FDFDFD;
    font-size: 16px;
    padding: 10px;
}


/*-------------------------------------- BG Colours */

.bg-colour {
    background-color: #01375e;
}

.book-button-bg {
    background-color: #BB0202;
}

.footer-bg {
    background-color: #008ae7;
    height: 60px;
}

/*-------------------------------------- Images */

.home-image {
    background: url("../images/alexander-andrews-17qgMrxcvGs-unsplash.jpg");
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}

.track-image {
    background: url("../images/uavwright-productions-vdoFJJgL24Q-unsplash.jpg");
    width: 100%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.gallery-image-1 {
    background: url("../images/appic-nCrQ8sMa0c8-unsplash.jpg");
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery-image-2 {
    background: url("../images/nicolas-peyrol-cWT6sI20RdU-unsplash.jpg");
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery-image-3 {
    background: url("../images/pexels-markie-mad-14194446.jpg");
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*-------------------------------------- Track Details */

.track-box-postion {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.track-details-box-1 {
    background-color: rgba(210, 215, 211, 0.1);
    width: 120px;
    height: 90px;
    position: absolute;
    bottom: 10px;
    left: 5px;
}

.track-details-box-2 {
    background-color: rgba(210, 215, 211, 0.1);
    width: 120px;
    height: 90px;
    position: absolute;
    bottom: 10px;
}

.track-details-box-3 {
    background-color: rgba(210, 215, 211, 0.1);
    width: 120px;
    height: 90px;
    position: absolute;
    bottom: 10px;
    right: 5px;
}

.track-info {
    color: #FDFDFD;
    font-size: 14px;
    margin: 0;
    position: absolute;
    bottom: 25px;
    font-weight: 400;
}


/*-------------------------------------- book button */

.book-button {
    width: 100%;
    height: 50px;
    margin: 0;
}

.book-button p {
    font-size: 16px;
    padding-top: 2px;
    font-weight: 300;
}

.button-view {
    margin-top: 5px;
    --bs-btn-padding-x: 70px;
}



/*-------------------------------------- footer */

footer {
    color: #FDFDFD;
    margin: 0;
}

.socials-placement {
    padding-top: 5px;
}

.icon-colour {
    color: #FDFDFD;
}

.list-inline-item {
    padding: 0;
}


/*-------------------------------------- Gallery*/

.gallery-style {
    color: #FDFDFD;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*-------------------------------------- Media*/

