@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Roboto:wght@300;400;500&display=swap');

/*-------------------------------------- Font*/

body {
    font-family: "Roboto", sans-serif;
}

p {
    margin-top: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0 0 5px 0;
}

h5 {
    text-align: center;
    font-size: 1rem;
    margin-top: 1.5vh;
}



.nav-color {
    color: #008ae7;
    font-size: 1.5rem;
    font-family: 'Montserrat Subrayada', sans-serif;
    --bs-nav-link-hover-color: #e75100;
}

.title-color {
    color: #008ae7;
    font-size: 2.5rem;
    font-family: 'Montserrat Subrayada', sans-serif;
    --bs-navbar-brand-hover-color: #e75100;
}

.section-header{
    color: #008ae7;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Montserrat Subrayada', sans-serif;
}

div p {
    color: #FDFDFD;
    font-size: 1.2rem;
}

.uppercase {
    text-transform: uppercase;
}

.footer-sizing {
    font-size: 1.2rem;
    margin: 0px;
    font-family: 'Montserrat Subrayada', sans-serif;
}

i:hover {
    color: #e75100;
}

.track {
    color: #FDFDFD;
    padding: 10px;
    font-family: 'Montserrat Subrayada', sans-serif;
}

.findus {
    color: #fdfdfd;
}



/*-------------------------------------- BG Colours */

.bg-colour {
    background-color: #01375e;
}

.book-button-bg {
    background-color: #BB0202;
}

.footer-bg {
    background-color: #008ae7;
}

.findus-bg {
    background-color: #01375e;
    height: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.findus-details-bg {
    background-color: #01375e;
}

/*-------------------------------------- Images */

.hero-image {
    background: url("../images/heroimage.jpg");
    width: 100%;
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 40%;

    animation-name: home-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.home-image-box {
    width: 100%;
    height: 40vh;
    overflow: hidden;
}

@keyframes home-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

.track-image {
    background: url("../images/trackimage.jpg");
    width: 100%;
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gallery-image-1 {
    background: url("../images/galleryimg1.jpg");
    width: 100%;
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery-image-2 {
    background: url("../images/galleryimg2.jpg");
    width: 100%;
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery-image-3 {
    background: url("../images/galleryimg3.jpg");
    width: 100%;
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.book-image {
    background: url("../images/bookingimg.jpg");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.findus-image {
    background: url("../images/Wheretofindusmap.png");
    width: 100%;
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*-------------------------------------- Nav Bar */



/*-------------------------------------- Track Details */

.box-spacing {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1vh;
}

.track-details-box-1 {
    background-color: rgba(210, 215, 211, 0.1);
    width: 130px;
    height: 90px;
}

.track-box-details {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 10px;
}




/*-------------------------------------- book button */

.book-button {
    width: 100%;
    height: 6vh;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat Subrayada', sans-serif;
}

.button-view {
    font-size: 1.2rem;
    --bs-btn-padding-x: 70px;
}

/*-------------------------------------- footer */

footer {
    color: #FDFDFD;
    margin: 0;
}

.socials-placement {
    padding-top: 5px;
    padding-bottom: 5px;
}

.icon-colour {
    color: #FDFDFD;
    font-size: 1.2rem;
}

.list-inline-item {
    padding: 0;
}

.footer-spacing {
    display: flex;
    justify-content: space-evenly;
}

/*-------------------------------------- Gallery*/

.gallery-style {
    height: 7vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.gallery-title {
    color: #fdfdfd;
    padding-top: 0.3rem;
    font-family: 'Montserrat Subrayada', sans-serif;
}

/*-------------------------------------- Book Now Page*/

.book-header {
    color: #FDFDFD;
    padding-top: 0.3rem;
    font-family: 'Montserrat Subrayada', sans-serif;
}


.book-bg-size {
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.book-paragraph p {
    color: #464545;
    margin: 16px;
}

.booking-title {
    color: #FDFDFD;
    font-family: 'Montserrat Subrayada', sans-serif;
}

.booking-title h2 {
    padding: 10px;
    font-weight: 400;
}

/*-------------------------------------- form*/

form {
    padding-bottom: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    color: #FDFDFD;
    font-size: 1.1rem;
}

option {
    color: black;
}

input#adults {
    width: 7vh;
}

.form-control {
    padding: 0;
    color: #FDFDFD99;
    background-color: #FDFDFD00;
    text-transform: uppercase;
    --bs-secondary-color: #fdfdfd99;
}

.form-select {
    padding: 0;
    color: #FDFDFD99;
    background-color: #FDFDFD00;
    --bs-body-color: black;
}

.form-sizing {
    width: 55%;
    text-transform: none;
    padding-left: 5px;
    text-align: center;
}

.form-label {
    margin: 0;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

input#date {
    text-transform: uppercase;
}

.btn-style {
    --bs-btn-color: #fdfdfd;
    --bs-btn-bg: #008ae7;
    --bs-btn-border-color: #fdfdfd;
    --bs-btn-hover-color: #fdfdfd99;
    text-transform: uppercase;
}

.btn-size {
    width: 55%;
    margin-top: 1.5vh;
}

/*-------------------------------------- Find Us*/

.findus h4 {
    margin: 0;
    font-family: 'Montserrat Subrayada', sans-serif;
}

.findus-spacing {
    margin-top: 0;
    margin-bottom: 0;
}

.email-spacing {
    margin-bottom: 1.5vh;
}
/*-------------------------------------- Media*/

@media only screen and (min-width: 768px) {
    .hero-image {
        height: 60vh;
    }
    .home-image-box {
        height: 60vh;
    }
    .track-image {
        min-height: 70vh;
    }
    .gallery-image-1 {
        min-height: 70vh;
        background-position: center 60%;
    }
    .gallery-image-2 {
        min-height: 70vh;
    }
    .gallery-image-3 {
        min-height: 70vh;
        background-position: center 20%;
    }
    .section-header,
    .track h2,
    .gallery-title,
    .book-header h2,
    .booking-title h2,
    .findus h4   {
        font-size: 2.5rem;
    }
    .book-button {
        height: 7vh;
    }
    .btn-size {
        width: 30%;
    }
    .form-sizing {
        width: 30%;
    }
    .book-image {
        min-height: 60vh;
    }
    .form-label {
        margin: 1.5vh 0 0 0;
    }
    .btn-size {
        margin-top: 3vh;
    }
    label {
        font-size: 1.2rem;
    }
    .button-view {
        font-size: 1.5rem;
    }
    .footer-sizing {
        font-size: 1.5rem;
    }
    .navbar-expand-md .navbar-collapse {
        position: absolute;
        right: 2rem;
    }
}

@media only screen and (min-width: 1400px) {
    .gallery-image-1,
    .gallery-image-2,
    .gallery-image-3 {
        height: 80vh;
    }
}